@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    --Dark-gray: hsl(0, 0%, 59%);

    --Kumbh: 'Kumbh Sans', sans-serif;
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

html, body{
    min-height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Dark-cyan);
    font-family: var(--Kumbh);

    background-image: url("../images/bg-pattern-top.svg") , url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;

    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.container{
   background-color: white;
    width: 350px;
    height: 395px;
    text-align: center;
    border-radius: 10px;
}

.bg{
    background-image: url("../images/bg-pattern-card.svg");
    height: 150px;
    position: relative;
    border-radius: 10px 10px 0px 0px;
}

img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 42%;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px white;
}

.title{
    margin-top: 80px;
    font-size: 18px;
    margin-bottom: 25px;
}

strong{
    font-size: 18px;
    color: black;
}

.line{
    color: hsl(0, 0%, 59%);
}

.flex-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h3{
    font-size: 18px;
    margin: 20px 0px 5px 0px;
}

h3.color-2{
    color: var(--Dark-gray);
}

.type1{
    margin-left: 30px;
}

.type2{
    margin-right: 30px;
}

span{
    color: var(--Dark-gray);
    font-size: 15px;
}

p{
    font-size: 15px;
    color: var(--Dark-gray);
}

.color1{
    font-size: 12px; 
   margin-left: 20px; 
}

.color2{
    font-size: 12px;  
    margin-right: 10px;
}

.color3{
    font-size: 12px;  
    margin-right: 25px;
}
